name: yeehargee
# secrets:
#   wireguard_private_key:
#     file: ./wireguard_private_key
services:
  # Starr apps for downloading
  sonarr:  # tv service
    image: linuxserver/sonarr:latest
    container_name: sonarr
    # hostname: sonarr.internal
    volumes:
      - ./data:/data
      - ./services/sonarr:/config
    restart: unless-stopped
    # ports:
    #   - 8989:8989
    network_mode: "service:gluetun"
    logging:
      driver: json-file
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=American/Phoenix
  
  radarr:  # movie service
    image: linuxserver/radarr:latest
    container_name: radarr
    # hostname: radarr.internal
    volumes:
      - ./data:/data
      - ./services/radarr:/config
    restart: unless-stopped
    # ports:
    #   - "7878:7878"
    network_mode: "service:gluetun"
    logging:
      driver: json-file
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Phoenix

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Phoenix
    volumes:
      - ./services/prowlarr:/config
    # ports:
    #  - 9696:9696
    network_mode: "service:gluetun"
    restart: unless-stopped

  # Media server
  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin
    volumes:
      - ./services/jellyfin:/config
      - ./data/media:/data/media
      - ./data/media/tvshows:/data/tvshows
      - ./data/media/movies:/data/movies
    # ports:
    #   - 8096:8096
    #   - 8920:8920
    #   - 7359:7359/udp
    #   - 1900:1900/udp
    network_mode: "service:gluetun"
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=
      
  jellyseerr:
    image: ghcr.io/fallenbagel/jellyseerr:latest
    init: true
    container_name: jellyseerr
    environment:
      - LOG_LEVEL=debug
      - TZ=
      - PORT=5055 #optional
    # ports:
    #   - 5055:5055
    network_mode: "service:gluetun"
    volumes:
      - ./services/jellyseerr:/app/config
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:5055/api/v1/status || exit 1
      start_period: 20s
      timeout: 3s
      interval: 15s
      retries: 3
    restart: unless-stopped

  # torrent client
  qbittorrent:
    image: linuxserver/qbittorrent:latest
    container_name: qbit
    volumes:
      - ./data/torrents:/data/torrents
      - ./services/qbit:/config
    restart: unless-stopped
    environment:
      - WEBUI_PORT=8080
      - TORRENTING_PORT=6881
      - PUID=1000
      - PGID=1000
      - TZ=America/Phoenix
    # ports:
    #  - 8080:8080
    #  - 6881:6881
    #  - 6881:6881/udp
    network_mode: "service:gluetun"
    depends_on:
      gluetun:
        condition: service_healthy
  
  # vpn
  gluetun:
    cap_add:
      - NET_ADMIN
    ports:
      - "8888:8888/tcp"  # HTTP proxy
      - "8388:8388/tcp"  # Shadowsocks
      - "8388:8388/udp"  # Shadowsocks
      # ---------- moved from other services when network_mode is set ----------
      # qbit
      - "8080:8080"  # webserver, for requests from radarr and sonarr
      - "6881:6881"
      - "6881:6881/udp"
      # sonarr
      - "8989:8989"
      # radarr
      - "7878:7878"
      # prowlarr
      - "9696:9696"
      # jellyfin  
      - "8096:8096"
      - "8920:8920"
      - "7359:7359/udp"
      - "1900:1900/udp"
      # jellyseerr
      - "5055:5055"
    image: qmcgaw/gluetun:latest
    container_name: gluetun
    devices:
      - /dev/net/tun:/dev/net/tun
    volumes:
      - ./services/gluetun:/gluetun
    environment:
      # See https://github.com/qdm12/gluetun-wiki/tree/main/setup#setup
      - VPN_SERVICE_PROVIDER=protonvpn
      - VPN_TYPE=wireguard
      - WIREGUARD_PRIVATE_KEY_FILE=/run/secrets/wireguard_private_key
      - UDPATER_PERIOD=1h
    # secrets:
    #   - wireguard_private_key
