name: yeehargee
# secrets:
#   wireguard_private_key:
#     file: ./config/gluetun-wireguard.conf
services:
  # Starr apps for downloading
  sonarr:  # tv service
    image: linuxserver/sonarr:latest
    container_name: sonarr
    volumes:
      - ./data:/data
      - ./services/sonarr:/config
    restart: unless-stopped
    ports:
      - 8989:8989
  radarr:  # movie service
    image: linuxserver/radarr:latest
    container_name: radarr
    volumes:
      - ./data:/data
      - ./services/radarr:/config
    restart: unless-stopped
    ports:
      - "7878:7878"

  # Media server
  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin
    volumes:
      - ./services/jellyfin:/config
      - ./data/media:/data/media
      - ./data/media/tvshows:/data/tvshows
      - ./data/media/movies:/data/movies
    ports:
      - 8096:8096
      - 8920:8920
      - 7359:7359/udp
      - 1900:1900/udp
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=
      
  jellyseerr:
    image: ghcr.io/fallenbagel/jellyseerr:latest
    init: true
    container_name: jellyseerr
    environment:
      - LOG_LEVEL=debug
      - TZ=
      - PORT=5055 #optional
    ports:
      - 5055:5055
    volumes:
      - ./services/jellyseerr:/app/config
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:5055/api/v1/status || exit 1
      start_period: 20s
      timeout: 3s
      interval: 15s
      retries: 3
    restart: unless-stopped

  # torrent client
  qbittorrent:
    image: linuxserver/qbittorrent:latest
    container_name: qbit
    volumes:
      - ./data/torrents:/data/torrents
      - ./services/qbit:/config
    restart: unless-stopped
    environment:
      - WEBUI_PORT=8080
      - TORRENTING_PORT=6881
      - PUID=1000
      - PGID=1000
    # network_mode: "service:gluetun"
    depends_on:
      gluetun:
        condition: service_healthy
    ports:
      - "8080:8080"  # webserver, for requests from radarr and sonarr
      - "6881:6881"  # torrenting port
      - "6881:6881/udp"  # torrenting port
  
  # vpn
  gluetun:
    ports:
      - 8888:8888/tcp  # HTTP proxy
      - 8388:8388/tcp  # Shadowsocks
      - 8388:8388/udp  # Shadowsocks
    image: qmcgaw/gluetun:latest
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    volumes:
      - ./services/gluetun:/gluetun
    # secrets:
    #   - wireguard_private_key
    # env_file: "config/gluetun-wireguard.conf"
    environment:
      # See https://github.com/qdm12/gluetun-wiki/tree/main/setup#setup
      - VPN_SERVICE_PROVIDER=protonvpn
      - VPN_TYPE=wireguard
      # Wireguard:
      - WIREGUARD_PRIVATE_KEY=${PRIVATEKEY}
      - WIREGUARD_ADDRESSES=${ADDRESS}
      # Timezone for accurate log times
      - TZ=
      # Server list updater
      # See https://github.com/qdm12/gluetun-wiki/blob/main/setup/servers.md#update-the-vpn-servers-list
      - UPDATER_PERIOD=
