name: yeehargee
services:
  # Starr apps for downloading
  sonarr:
    image: linuxserver/sonarr:latest
    container_name: sonarr
    volumes:
      - backend:/data
    restart: unless-stopped
  radarr:
    image: linuxserver/radarr:latest
    container_name: radarr
    volumes:
      - backend:/data
    restart: unless-stopped
  # Media server
  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin
    volumes:
      - backend:/data
    restart: unless-stopped
volumes:
  backend:
