name: yeehargee
services:
  # Starr apps for downloading
  sonarr:
    image: linuxserver/sonarr:latest
    container_name: sonarr
    volumes:
      - ./data:/data
    restart: unless-stopped
  radarr:
    image: linuxserver/radarr:latest
    container_name: radarr
    volumes:
      - ./data:/data
    restart: unless-stopped
    ports:
      - "7878:7878"

  # Media server
  # TODO: restrict media server access to /data/media only
  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin
    volumes:
      - ./data/media:/data/media
    restart: unless-stopped

  # torrent client
  qbittorrent:
    image: linuxserver/qbittorrent:latest
    container_name: qbit
    volumes:
      - ./data/torrents:/data/torrents
      - ./config/qbit:/config
    restart: unless-stopped
    ports:
      - "8080:8080"
      - "6881:6881"
      - "6881:6881/udp"
    environment:
      - WEBUI_PORT=8080
      - TORRENTING_PORT=6881

